font{
  font-family: sans-serif;
}
.qr-scanner {
    position: relative;

  }
  
  .qr-scanner video {
    margin: 2%;
    width: auto;
    height: auto;
    margin: auto;
    
  }
  
  .qr-scanner.active {
    background-color: #4CAF50; /* Verde */
    border: solid 1px #4CAF50;
    color: #fff;
  }
  
  .qr-scanner.inactive {
    background-color: #f44336; /* Rojo */
    border: solid 1px #fff;
    color: #fff;
  }
  .videoRef {
    height: 20.1vh;
    border: solid 1vh #000000;
    width: 21.1vh;
    background: black;
}
.divQR {
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.buttonNoScan{
  border: solid 1px #fff;
  background-color: #fff;
  color: rgb(11, 187, 187);
  font-weight: bold;
  font-family: sans-serif;
}

.textScanner {
  text-align: justify;
  margin: 0% 0% 18% 2%;
  font-family: sans-serif;
}

.p1{
  color: #9c9c9c;
  margin-left: 1vh;
  font-family: sans-serif;
}

.inputScannerQR {
  /* width: 50%; */
  margin: 3% 2% 3% 2%;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  -webkit-tap-highlight-color: rgba(20, 134, 187, 0);
  padding: 1% 0%;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.button {
  margin: 0 5px;
  background-color: #2fd158;
  color: white;
  border: none;
  padding: 2% 6%;
  border-radius: 5px;
  cursor: pointer;
}

.blueButton {
  background-color: #63d2ff;
  margin-top: 10px;
}
.options{
  display: grid;
  padding: 3%;
}